*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


section{
    width:600px;
    height:600px;
    margin:50px auto 0;
    border: 1px solid red;
    display:grid;
    grid-gap:30px;
}



section > div {
    background-color: aqua;
}


.col-3{
    grid-column: span 3;
}

.col-2{
    grid-column: span 2;
}

