
/* Lobster normal */
@font-face {
    font-family: 'Lobster';
    font-style: normal;
    font-weight: 400;
    src: local('Lobster Regular'), 
    local('Lobster-Regular'), 
    url(../fonts/lobster.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}


body{
    -moz-osx-font-smoothing:grayscale;
    -webkit-font-smoothing: antialiased;
}

section {
    position:relative;
    width:100vw;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    overflow:hidden;
}

section> div{
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background-image: url("background-1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    filter: blur(16px);
    transform:scale(1.2);

}

section> div::before{
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    display: block;
    content:" ";
    background: linear-gradient(
        0deg,
        rgba(0,0,0,1)0%,
        rgba(0,0,0,0.81)37%,
        rgba(0,0,0,0.67)55%,
        rgba(0,0,0,0)100%
    );

    opacity:0.85;
 
}


section> div::after{
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    display: block;
    content:" ";
    background-color: #140E0E;
    opacity:0.13;
}


section> h1{
    position:absolute;
    color:white;
    font-family:'lobster';
    font-size:200px;
    word-spacing:1.45px;
    font-weight:200;
    margin-top:55px;

}



