* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main {
    width: 680px;
    margin: 50px auto;
}

body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

article {
    width: 100%;
    
    padding: 20px 20px 0;
    border: 1px solid #ecf0f1;
}

.poster {
    height: 350px;
    width: 640px;
    background-color:#A1B1BC;
    margin-bottom: 14px;
    
}

.content header h1 {
    font-family: 'Lobster';
    font-size: 24px;
    color: #1FBBEF;
    
   word-spacing: -0.2px;

}

.content header p span {
    font-family: 'PT Sans';
    font-size: 14px;
    color: #A1B1BC;
    line-height: 39px;
    margin-left: -1px;
    letter-spacing: -0.1px;
    margin-right: -0.4px;
    
}


.content header p span:after{
   content:'';
   display: inline-block;
   width:1px;
   height:12px;
   background-color: #EEEEEE;
   margin-left: 7px;
   margin-right: 13px
}
.content header p span:last-child::after {
    display: none;
}

.content header {
    padding-bottom: 7px;
    border-bottom: 1px solid #ECF0F1;
    margin-bottom: 13px;
}

.text {
    margin-top: 26px;
    margin-bottom: 16px;
}

.text p {
    font-family: "PT Sans";
    font-size: 14px;
    color: #A1B1BC;
    line-height: 24px;
    word-spacing: -0.2px;
    margin-top: -11.3px;
    width: 650px;
    margin-left: 0px;
   

}

.content a {
    display: inline-block;
    font-family: 'PT Sans';
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: #21C2f8;
    font-weight: bold;
    text-decoration: none;
    margin-bottom: 15px;
    margin-left: -0.9px;
}

