*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
 }
 main{
    width: 600px;
    margin: 0 auto;
 }
 .col-1,.col-2{
    width: 285px;
 }
 .col-1,.col-2,.col-3{
    height: 150px;
    background-color: grey;
 
 
 }
 header,footer{
    background-color: rgb(31, 121, 206);
    width: 100%;
    height: 150px;
 }
 .col-1{
    background:  rgb(31, 121, 206);
    float: left;
    margin-right: 30px
 }
 .col-2{
    background:  rgb(31, 121, 206);
    float: right;
 }
 .col-3{
     width:60%;
     margin: 0 auto;
    background:  rgb(31, 121, 206);
 }
 .row::after{
    display: block;
    content: '';
    clear: both;
    visibility: hidden;
 }
 header,.row{
    margin-bottom: 30px;
 }
 .row-first{

 }
 .row-second{
 }