* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
   }
   
   main {
    width: 600px;
    margin: 0 auto;
   }
   
   .row{
      margin-bottom:30px;
      width:100%;

   }

   .cell{

    height:100px;

   }

   .cell.solid{
    background-color: rgb(81, 76, 160);
   }
.col-3{
    width:100%;
}


.col-1{
    width:30%;
}

.col-2{
    width:65%;
}


.row .col{
    float:left;
    margin-right:30px;
}

.row .col:last-child{
    margin-right:0;
}

.row::after{
    content: '';
    display:block;
    visibility: hidden;
    clear:both;
}