.wrap{
    position:relative;
    height:600px;
    width:600px;
    background-color: blue;
}

.block
{
    position:absolute;
    height: 50px;
    width: 100px;
    background-color:white;
}
.center{
    top: 50%;
    left:50%;
    transform: translate (-50%, -50%)
}