*{
    box-sizing: border-box;
 }
 .wrap{
    padding: 50px;
 }


 .item{
     position: relative;
     display:inline-block;
     height: 50px;
     width: 50px;
     background-color: grey;
     border-radius: 10px;
     margin-right: 10px;
 }
 .label{
     position:absolute;
     right:0;
     top:0;
     transform: translate(50%, -50%);
     height:20px;
     background-color: red;
     color: #ffff;
     border:1px solid #ffff;
     border-radius:10px;
     padding: 1px 5px;
 }