* {
    box-sizing: border-box;
 }
 
 .notification {
    position: fixed;
    top: 30px;
    right: 40px;
    border: 1px solid  gray;
    padding: 15px;
 }
 
 .text {
    display: block;
    max-width: 300px;
 }
 
 p {
    font-size: 24px;
    font-weight: 800px;
    margin-top: 0;
 }
 
 .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    color: gray;
    text-decoration: none;
 }
 